@font-face {
  font-family: Larsseit;
  src: url(../assets/fonts/Larsseit.otf);
}

* {
  font-family: Larsseit, Helvetica, sans-serif;
}

select {
  cursor: pointer;
}

.card-mountain:hover,
.card-park:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 50px 100px -20px,
    rgba(255, 255, 255, 1) 0px 30px 60px -30px;
  transform: scale(1.01);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: scroll;
}

.dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

#park-search {
  background: url("../assets/images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

#park-search:focus {
  border-color: black !important;
  box-shadow: 0 0 0 0.2rem rgba(232, 234, 238, 0.5);
}

#page-mountain {
  background: url("../assets/images/background/bg-mountain-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

#page-park {
  background: url("../assets/images/background/yosemite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

#page-home {
  background: url("../assets/images/background/bg-mountain-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.mvh-100 {
  min-height: 100vh;
}

#view-all-btn {
  width: 120px;
}

.nav-link:hover {
  font-weight: bold;
  transition: all 0.3s;
}

.bg-platinum {
  background-color: #d0ddd7;
}

/* set transparent overlay on top of hero image */
#hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  overflow: scroll;
}

.btn-home-choice {
  width: 125px;
}

.btn-home-choice:hover {
  background-color: #9da3a4;
}

#logo {
  display: block;
  width: 200px;
  height: 50px;
  background: url("../assets/images/WildWonders-logos.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: scale(1.2);
}

#logo:hover {
  opacity: 0.8;
}